<h1>New Game</h1>
<div>
  <ul>
    <% @letters.each do |letter|%>
    <li><%= letter %></li>
    <% end %>
  </ul>
</div>
<form action="/score" method="POST" data-turbo="false">
  <p>What is the longest word you can find?</p>
  <div>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
    <input type="text" name="word">
    <input type="submit" value="Play">
  </div>
</form>
